/* Form Styling */
.chat_form {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: black;
}

.chat_form > form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.chat_form > form > input {
    color: black;
    font-size: 23px;
    text-align: start;
    word-wrap: break-word;
    word-wrap: break-all;
}

.chat_form > form > label {
    font-size: 16px;
    margin-bottom: 12px;
}

.chat_form > form > input:hover {
    background-color: wheat;
}

.full_name > input{
    color: black;
    font-size: 23px;
    text-align: start;

}

.full_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
}

.full_name > label{
    font-size: 16px;
    margin-bottom: 12px;
}

.forms {
    display: flex;
}

.forms > input{
    color: rgb(0, 0, 0);
    font-size: 23px;
    border: 1px rgba(0, 0, 0, 0.697) solid;
}

.forms > input:hover {
    background-color: wheat;
}

#lname {
    margin-left: 30px;
}

.contact_header {
    margin: auto;
    margin-bottom: 50px;
}

#submit_btn {
    text-align: center;
    margin: auto;
}

.forms > input {
    width: 20vw; 
    height: 5vh;
}

#p_num {
    width: 42vw; height: 5vh;
}

#email {
    width: 42vw; height: 5vh;
}

#message {
    width: 42vw; height: 200px;
}

/* Contact form responsiveness */
@media screen and (max-width: 600px){
    .forms {
        flex-direction: column;
        margin: auto;
        /* align-items: flex-end; */
    }

    .forms > input {
        width: 100%; 
        height: 5vh;
    }

    #lname {
        margin-left: 0px;
    }

    .chat_form {
        justify-content: center;
    }

    #p_num {
        width: 100%;
    }
    
    #email {
        width: 100%;
    }
    
    #message {
        width: 100%;
    }



}