@font-face {
    font-family: newHelvetica;
    src: url(fonts/helv.ttf);
}


.videos > video {
    width: 100vw;
    height: 40vw;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    transition: all 1.2 linear;
    z-index: -10;
    object-fit: cover;
    position: absolute;
    
}

.car_carousel {
    display: flex;
}

.video1 {
    opacity: 1;
}

.video2 {
    opacity: 0;
}

.video3 {
    opacity: 0;
}
.video4 {
    opacity: 0;
}

.forward_btn {
    margin: auto;
    grid-area: 3/ 5/ 3/ 5;
    cursor: pointer;
    width: 20%;
    height: 50%;
    border-radius: 90vw;
    font-size: 2vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    outline: none;
    color: rgb(0, 0, 0);
}

.back_btn {
    margin: auto;
    grid-area: 3/ 1/ 3/ 1;
    width: 20%;
    height: 50%;
    cursor: pointer;
    border-radius: 90vw;
    font-size: 2vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    outline: none;
    color: rgb(0, 0, 0);
}

.change_buttons {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5, 8vw);
    grid-template-columns: repeat(5, 20vw);
}

.pause_btn {
    margin: auto;
    grid-area: 5/ 1/ 5/ 1;
    width: 5vw;
    cursor: pointer;
    border-radius: 90vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    outline: none;
}